div {
    font-size: 70px;
}
/* id에 직접 css를 입히는 경우는 잘 없음 -> 고유해야하기 때문 */
/* #hello {
    color: blue;
} */

/* 같은 점수라면 맨 아래쪽에 있는 값이 입혀짐, 여기에 div태그를 붙이면 점수가 높아져 우선순위가 높아짐 */
div.hello {
    color: red;
}
/* !important는 웬만하면 사용하지 말기. inline으로 style작성하는 것도 웬만하면 사용하지 말기*/
.hello {
    color: green !important;
}

/* 우선순위 점수가 늘어나는 순서 */
/* 전체 선택자 0잠 */
*{

}
/* 태그 선택자 1점 */
div{

}
/* 클래스 선택자 10점 */
.hello{

}
/* 아이디 선택자 100점 */
#hello{

}